

.titleCart {
    margin-bottom: 5vh
}

.cardCart {
    margin: auto;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .cardCart {
        margin: 3vh auto
    }
}

.cartCart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cartCart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summaryCart {
    background-color: #fbdfdb;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px) {
    .summaryCart {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summaryCart .col-2Cart {
    padding: 0
}

.summaryCart .col-10Cart {
    padding: 0
}

.rowCart {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.titleCart b {
    font-size: 1.5rem
}

.mainCart {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2Cart,
.colCart {
    padding: 0 1vh;
    display: flex;
    align-items: center;
}

.colCart {
    justify-content:space-between
}

a {
    padding: 0 1vh;
    text-decoration: none;
}

.closeCart {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    width: 6rem;
    height:4rem
}

.clear-cart-div {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

h5 {
    margin-top: 4vh
}px

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btnCart {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btnCart:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    transition: none
}

.btnCart:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#codeCart {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}

.quantity {
    margin: 10px;
    display: inline;
}

.imagem-pastel {
    max-width: 100%;
    height: auto;
}

.itemprice {
    display: flex;
    align-items: center;
    margin: 10px;
}

.items-quantity {
    font-size: 1.5rem;
    font-weight: bold;
}

.error-message {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(251, 130, 137);
    text-align: center;
}

.finalizar-pedido-button {
    display: flex;
    justify-content: center;
}