.v3_355 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_357 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 697px;
  left: 128px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v3_358 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 142px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_359 {
  width: 103px;
  position: absolute;
  top: 325px;
  left: 92px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_360 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 138px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_361 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 304px;
  left: 101px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_362 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_363 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 304px;
  left: 215px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_364 {
  width: 203px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 86px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3_365 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 363px;
  left: 131px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_366 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_367 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 364px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_368 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_369 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 473px;
  left: 195px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_370 {
  width: 93px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_371 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 195px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_373 {
  width: 203px;
  height: 88px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_374 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 128px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v3_375 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 475px;
  left: 90px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_376 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 475px;
  left: 200px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_377 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 511px;
  left: 89px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_378 {
  width: 277px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 29px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_379 {
  width: 317px;
  height: 4px;
  background: rgba(215,215,225,0.8500000238418579);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 29px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3_381 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 510px;
  left: 200px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v3_383 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 411px;
  left: 145px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3_385 {
  width: 375px;
  height: 812px;
  background: rgba(204,84,0,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v3_386 {
  width: 317px;
  height: 313px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 29px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v3_387 {
  width: 127px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 199px;
  border: 1px solid rgba(196,196,196,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_388 {
  width: 278px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 48px;
  border: 1px solid rgba(255,120,91,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_389 {
  width: 127px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 49px;
  border: 1px solid rgba(196,196,196,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_390 {
  width: 198px;
  color: rgba(255,120,91,1);
  position: absolute;
  top: 302px;
  left: 48px;
  font-family: Avenir;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_391 {
  width: 92px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 384px;
  left: 41px;
  font-family: Avenir;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_392 {
  width: 57px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 385px;
  left: 194px;
  font-family: Avenir;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_393 {
  width: 104px;
  color: rgba(255,120,91,1);
  position: absolute;
  top: 240px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v3_394 {
  width: 75px;
  color: rgba(255,120,91,1);
  position: absolute;
  top: 286px;
  left: 54px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v3_395 {
  width: 75px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 368px;
  left: 46px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v3_396 {
  width: 43px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 369px;
  left: 197px;
  font-family: Avenir;
  font-weight: Light;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v3_397 {
  width: 176px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 99px;
  overflow: hidden;
}
.v3_398 {
  width: 176px;
  height: 52px;
  background: rgba(255,120,91,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_49 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 474px;
  left: 115px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_401 {
  width: 66px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 158px;
  overflow: hidden;
}
.v3_402 {
  width: 66px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 162px;
  overflow: hidden;
}