.logo {

    font-size: 24px;
    font-family: Roboto-Regular;
    opacity: 0.7;
}

.logo a {
    color:black;
    font-size: 24px;
    line-height: 32px;
    margin: 0 10px;
    text-decoration: none;
}
 
.logo a:hover {
    color: rgb(228, 52, 52);
    transition: color 700ms;
}

#pastel {
     height: 25px;
     width: 25px;   
     
}

.links {
    font-family: Roboto-Regular;
    text-align: center;
    opacity: 0.7;
    display: flex;
}

.links a {
    color:black;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
}

.links button {
    color:black;
    background-color: transparent;
    font-size: 20px;
    line-height: 32px;
    margin: 0 10px;
    text-decoration: none;
}
 
.links a:hover {
    color: rgb(228, 52, 52);
    transition: color 700ms;
}

.links button:hover {
    color: rgb(228, 52, 52);
    transition: color 700ms;
}