.v3_2370 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_2371 {
  width: 414px;
  height: 827px;
  background: linear-gradient(rgba(250,236,233,1), rgba(255,253,252,1));
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v3_2372 {
  width: 317px;
  height: 2px;
  background: rgba(255,120,91,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 29px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3_2373 {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 92px;
  left: 47px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_2374 {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 32px;
  overflow: hidden;
}
.v3_2375 {
  width: 70px;
  height: 39px;
  background: rgba(255,120,91,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v3_2380 {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 276px;
  overflow: hidden;
}
.v3_2378 {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_2379 {
  width: 70px;
  height: 39px;
  background: rgba(255,120,91,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v3_2390 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 29px;
  overflow: hidden;
}
.v3_2391 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_2392 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v3_2393 {
  width: 13px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v3_2394 {
  width: 13px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: rotate(-41deg);
  overflow: hidden;
}
.v3_2395 {
  width: 317px;
  height: 2px;
  background: rgba(255,120,91,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 27px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3_2397 {
  width: 317px;
  height: 2px;
  background: rgba(255,120,91,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 29px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3_2398 {
  width: 317px;
  height: 2px;
  background: rgba(255,120,91,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 27px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v142_6 {
  width: 75px;
  height: 41px;
  background: rgba(255,120,91,1);
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 27px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v142_8 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 359px;
  left: 33px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v142_48 {
  width: 317px;
  height: 4px;
  background: rgba(215,215,225,0.8500000238418579);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 27px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}