.v3_403 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_405 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 697px;
  left: 128px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v3_406 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 142px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_407 {
  width: 103px;
  position: absolute;
  top: 325px;
  left: 92px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_408 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 138px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_409 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 304px;
  left: 101px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_410 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_411 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 304px;
  left: 215px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_412 {
  width: 203px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 86px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3_413 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 363px;
  left: 131px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v3_414 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_415 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 364px;
  left: 219px;
  opacity: 1;
  text-align: center;
}
.v3_416 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_417 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 473px;
  left: 195px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_418 {
  width: 93px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_419 {
  width: 94px;
  height: 15px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 195px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_421 {
  width: 203px;
  height: 88px;
  background: rgba(196,196,196,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3_422 {
  width: 277px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 29px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_423 {
  width: 317px;
  height: 4px;
  background: rgba(215,215,225,0.8500000238418579);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 29px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3_424 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 128px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v3_425 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 475px;
  left: 90px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_426 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 475px;
  left: 200px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_427 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 511px;
  left: 89px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_428 {
  width: 96px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 544px;
  left: 90px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v3_429 {
  width: 85px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 510px;
  left: 200px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v3_431 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 411px;
  left: 145px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3_433 {
  width: 375px;
  height: 812px;
  background: rgba(204,84,0,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v3_434 {
  width: 317px;
  height: 358px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 29px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v3_435 {
  width: 217px;
  height: 192px;
  background: rgba(255,120,91,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 79px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_436 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 339px;
  left: 90px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v3_437 {
  width: 149px;
  color: rgba(255,120,91,1);
  position: absolute;
  top: 546px;
  left: 209px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_438 {
  width: 32px;
  opacity: 1;
  position: absolute;
  top: 557px;
  left: 244px;
  border: 1px solid rgba(255,120,91,1);
}
.v3_440 {
  width: 66px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 158px;
  overflow: hidden;
}
.v3_441 {
  width: 66px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 162px;
  overflow: hidden;
}
